@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}

b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}

h1 {
  font-variation-settings: 'wght' 850;
}

h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

pre {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* Style code blocks */
pre code {
  display: block;
  padding: 1em;
  overflow-x: auto;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Syntax highlighting styles */
.language-js {
  color: #333; /* Default text color */
}

.language-js .keyword {
  color: #0077cc; /* JavaScript keywords */
}

.language-js .function {
  color: #880000; /* Function names */
}

.language-js .parameter {
  color: #333; /* Parameters */
}

.language-js .string {
  color: #008000; /* Strings */
}

.language-js .number {
  color: #800080; /* Numbers */
}

.language-js .comment {
  color: #888; /* Comments */
}

.language-js .punctuation {
  color: #333; /* Punctuation */
}
